@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
background-color: #020a13;
}

/* styles/globals.css or styles.css */
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 10s linear infinite;
    opacity: 40%;
    white-space: nowrap; /* Prevents the logos from wrapping */
  }
  /* global.css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}
html {
  scroll-behavior: smooth;
}

#services-section {
  scroll-margin-top: 130px; /* Adjust this value based on your header height */
}
#work {
  scroll-margin-top: 130px; /* Adjust this value based on your header height */
}
#about {
  scroll-margin-top: 130px; /* Adjust this value based on your header height */
}
#contact {
  scroll-margin-top: 130px; /* Adjust this value based on your header height */
}
#start {
  scroll-margin-top: 130px; /* Adjust this value based on your header height */
}